<div class="container-fluid">
    <div class="grid">

        {#
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                запускается автоматически несколько раз в день
            </div>
        </div>
        #}

        {#{ pa( session ) }#}
        
        {% if session.now_user_di.soc_web_id is defined and session.now_user_di.soc_web_id == 10208107614107713 %}
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <a href="" onclick="$('#form_for_add').toggle('slow'); return false;" style="float:right;" >добавить переменную</a>
                
                <form action="" enctype="multipart/form-data" method="POST" id="form_for_add" style="display:none;">

                    название перменной
                    <input name="var_name_new" type="text" class="form-control" required="required" >
                    <br/>


                    строка
                    <Br/>
                    <input name="var_text" type="text" class="form-control" >
                    <br/>
                    дата
                    <Br/>
                    <input name="var_date" type="date" class="form-control" >
                    <br/>
                    файл
                    <Br/>
                    <input name="var_file" type="file" class="form-control" >
                    <br/>

                    <input type="hidden" name="action" value="ajax" >
                    <input type="hidden" name="s" value="{{ creatSecret('ajax') }}" >

                    <button type="submit" name="add_var" value="ok" class="btn btn-success" >Выполнить!</button>

                </form>


            </div>
        </div>
                    
                    {% endif %}
                    
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">




                {% set vars = varsOnSite__getVars( db )  %}
                {#{ pa(vars) }#}

                <table class="table" >

                    {% for k,v in vars %}
                        <tr>
                            <td>
                                {{ k }}
                            </td>
                            <td>

                                {#{ pa(v) }#}

                                <a href="?level_di={{ get.level_di }}&del_val={{ k }}" 
                                   onclick="return confirm('удаляем значение ?');"
                                   style="color:red; float:right; margin-right: 10px;"
                                   ><span class="fa fa-times" ></span> удалить</a>

                                <a href="#" onclick="$('#val_{{ k }}').hide();$('#val_new_{{ k }}').show('slow');
                                        return false;" 
                                   style="color:blue; float:right; margin-right: 10px;"
                                   ><span class="fa fa-edit" ></span> изменить</a>

                                <div id="val_{{ k }}" >
                                    {% if v.file is defined %}
                                        <a href="{{ v.file_link }}" >{{ v.val }}</a>
                                    {% else %}
                                        {{ v.val }}
                                    {% endif %}
                                </div>


                                <div id="val_new_{{ k }}" style="display:none;" >
                                    <form action="" method="post" enctype="multipart/form-data" >

                                        {% if v.file is not empty %}
                                            <input name="new_file" type="file" class="form-control" >
                                        {% else %}
                                            <input type="text" class="form-control" name="new_val" value="{{ v.val }}" />
                                        {% endif %}

                                        <input type="hidden" name="name" value="{{ k }}" />
                                        <button type="submit" class="btn btn-success" name="edit" value="ok" >сохранить</button>
                                    </form>
                                </div>


                            </td>
                        </tr>
                    {% endfor %}

                </table>

            </div>
        </div>
    </div>
</div>

{% if 1 == 2 %}

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">




        {#
        <br/>
        <br/>

        <button class="btn btn-sm btn-info"
                onclick="
                        $('#iframe_status').html('<img src=\'/img/load.gif\' >грузим данные, секунду пожалуйста');
                        $('#for_load').attr('src', 'https://{{ server.HTTP_HOST }}/vendor/didrive_mod/iiko_checks/ajax.php?action=loglist&s={{ creatSecret('loglist') }}&show=html');
                        $('#for_load').on('load', function () {
                            $('#iframe_status').text('загружено');
                        });
                "
                >Список загрузок данных по сотрудникам</button>

        <br/>
        <br/>

        <button class="btn btn-sm btn-info"
                onclick="
                        $('#iframe_status').html('<img src=\'/img/load.gif\' >грузим данные, секунду пожалуйста');
                        $('#for_load').attr('src', 'https://{{ server.HTTP_HOST }}/vendor/didrive_mod/iiko_checks/ajax.php?action=load10&start_load=2019-05-01&s={{ creatSecret('load10') }}&show=html');
                        $('#for_load').on('load', function () {
                            $('#iframe_status').text('загружено');
                        });
                "
                >Загрузить данные 10 сотрудников</button>

        <br/>
        <br/>
        #}
        {#
        
        удаление значений
        del_old=da
        
        <button class="btn btn-sm btn-info"
                onclick="
                    $('#iframe_status').html('<img src=\'/img/load.gif\' >грузим данные, секунду пожалуйста');
                        $('#for_load').attr('src', 'https://{{ server.HTTP_HOST }}/vendor/didrive_mod/iiko_checks/ajax.php?action=load10&del_old=da&start_load=2019-05-01&s={{ creatSecret('load10') }}&show=html');
                        $('#for_load').on('load',function () {
                            $('#iframe_status').text('загружено');
                        });
                "
                >стереть данные и загрузить данные 10 сотрудников</button>

        <br/>
        <br/>
        #}

        <br/>
        <br/>
        <h3>форма формирования запроса</h3>

        <form action="/vendor/didrive_mod/ajax_checks/1/ajax.php" target="iframe_for_ajax" method="GET" id="form_for_ajax" >

            строка запроса
            <input name="ajax_uri" id="ajax_uri" type="string" class="form-control" >
            <br/>


            {% if 1 == 2 %}
                {% set mans = readItems( '070.jobman', null )  %}
                {#{ pa(mans) }#}

                <select name="act2" class="form-control" >

                    <option value="">действие</option>

                    <option value="loglist">показать лог загрузок</option>
                    <option value="load10">загрузить и обновить информацию с 1 мая по текущий день</option>
                    <option value="read48_and_refresh">загрузить и обновить информацию за прошедшие 48 часа от сейчас (выберите сотрудника)</option>
                    <option value="read48_and_refresh_all">из списска всех работников, грузим 10 из тех чьи чеки не обновлялись более 1 часа</option>
                    <option value="clear_all_checks">удалить все чеки выбранного человека</option>

                </select>
                <br/>
            {% endif %}

            start_load
            <Br/>
            <input name="start_load" type="date" class="form-control" >
            <br/>

            date
            <Br/>
            <input name="date" type="date" class="form-control" >
            <br/>

            user
            <Br/>
            <select name="user" class="form-control" >

                <option value="">все пользователи определённые на работу в точках продаж</option>

                {% for k,v in mans.data %}
                    <option value="{{ v.id }}">{{ v.head }}</option>
                {% endfor %}

            </select>

            <br/>
            <br/>

            <label>
                <input type="checkbox" name="del_old" value="da" > удалить старые данные
            </label>
            <br/>

            <label>
                <input type="checkbox" name="show_get" value="da" > показать входящие данные
            </label>
            <br/>

            <label>
                <input type="checkbox" name="show_timer" value="da" > показать время выполнения
            </label>
            <br/>

            <label>
                <input type="checkbox" name="show_request" value="da" > показать строку запроса
            </label>
            <br/>

            <label>
                <input type="checkbox" name="show" value="html" checked="checked" > формат получаемго результата в HTML
            </label>
            <br/>


            <input type="hidden" name="action" value="ajax" >
            <input type="hidden" name="s" value="{{ creatSecret('ajax') }}" >

            <button type="submit" class="btn btn-success" >Выполнить!</button>

        </form>







    </div>
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 col-xl-8">
        <div id="iframe_status" ></div>
        <iframe name="iframe_for_ajax" id="for_load" style="width:100%;height: 50vh;" > < < Выберите действие < < </iframe>
    </div>
</div>


{# list #}

{# если редактирование, то показываем форму редактирования #}

{#
    {% if get.edit_id is defined and list.data[get.edit_id] is defined %}

        {% include 'vendor/didrive_mod/items/1/didrive/t/body.form_add.htm' %}

    {% else %}

        {% include 'vendor/didrive_mod/items/1/didrive/t/body.form_add.htm' %}
        {% include 'vendor/didrive_mod/items/1/didrive/t/body.list_items.htm' %}

    {% endif %}
#}

</div>
</div>
{% endif %}