<div class="container-fluid">
    <div class="grid">

        {#
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                запускается автоматически несколько раз в день
            </div>
        </div>
        #}

        {#{ pa( session ) }#}

        {% if session.now_user_di.soc_web_id is defined and session.now_user_di.soc_web_id == 10208107614107713 %}

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                    <a href="" onclick="$('#form_for_add').toggle('slow');
                        return false;" style="float:right;" >добавить переменную</a>

                    <form action="" enctype="multipart/form-data" method="POST" id="form_for_add" style="display:none;">

                        название перменной
                        <input name="var_name_new" type="text" class="form-control" required="required" >
                        <br/>


                        строка
                        <Br/>
                        <input name="var_text" type="text" class="form-control" >
                        <br/>
                        дата
                        <Br/>
                        <input name="var_date" type="date" class="form-control" >
                        <br/>
                        файл
                        <Br/>
                        <input name="var_file" type="file" class="form-control" >
                        <br/>

                        <input type="hidden" name="action" value="ajax" >
                        <input type="hidden" name="s" value="{{ creatSecret('ajax') }}" >

                        <button type="submit" name="add_var" value="ok" class="btn btn-success" >Выполнить!</button>

                    </form>


                </div>
            </div>

        {% endif %}

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">




                {% set vars = varsOnSite__getVars( db )  %}
                {#{ pa(vars) }#}

                <table class="table" >

                    <thead>
                        <tr>
                            <th>переменная</th>
                            <th>как вставить</th>
                            <th>значение</th>
                            <th>настройки</th>
                        </tr>
                    </thead>

                    {% for k,v in vars %}
                        <tr>
                            <td>{{ k }}</td>
                            <td>{<!-- -->% if vars_site.{{ k }}.val is defined %<!-- -->}<br/>
                                {<!-- -->{ vars_site.{{ k }}.val }<!-- -->}<br/>
                                {<!-- -->% endif %<!-- -->}</td>
                            <td>

                                {#{ pa(v) }#}

                                <div id="val_{{ k }}" >
                                    {% if v.file is defined %}
                                        <a href="{{ v.file_link }}" >{{ v.val }}</a>
                                    {% else %}
                                        {{ v.val }}
                                    {% endif %}
                                </div>

                            </td>
                            <td >
                                <a href="?level_di={{ get.level_di }}&del_val={{ k }}" 
                                   onclick="return confirm('удаляем значение ?');"
                                   style="color:red; xfloat:right; margin-right: 10px;"
                                   ><span class="fa fa-times" ></span> удалить</a>

                                <a href="#" onclick="$('#val_{{ k }}').hide();
                                        $('#val_new_{{ k }}').show('slow');
                                        return false;" 
                                   style="color:blue; xfloat:right; margin-right: 10px;"
                                   ><span class="fa fa-edit" ></span> изменить</a>

                                <div id="val_new_{{ k }}" style="display:none;" >
                                    <form action="" method="post" enctype="multipart/form-data" >

                                        {% if v.file is not empty %}
                                            <input name="new_file" type="file" class="form-control" >
                                        {% else %}
                                            <input type="text" class="form-control" name="new_val" value="{{ v.val }}" />
                                        {% endif %}

                                        <input type="hidden" name="name" value="{{ k }}" />
                                        <button type="submit" class="btn btn-success" name="edit" value="ok" >сохранить</button>
                                    </form>
                                </div>


                            </td>
                        </tr>
                    {% endfor %}

                </table>

            </div>
        </div>
    </div>
</div>
